<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cadastro de Produtos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProdutoCategoriaAPP.styles.css" asp-append-version="true" />
</head>
<body bg-dark>
    <header>
        <nav class="navbar col-11 m-auto navbar-bg-body-tertiary">
            <form class="container-fluid justify-content-start">
                <button class="btn btn-outline-primary me-5 " type="button">Categorias</button>
                <a asp-area="" asp-controller="Produtos" asp-action="CadastrarProduto">
                    <button class="btn btn-outline-success ms-2" type="button">Cadastrar Produtos</button>
                </a>
            </form>     
        </nav>      

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - ProdutoCategoriaAPP - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
