@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Projeto de Cadastro de Produtos</h1>
    <p>Neste Projeto eu criei duas APIs separadas, uma de Categorias e outra de Produtos, ambas compartilham o mesmo banco de dados, gerado pelo Entity Framework e este Site é um Asp .NET WEB Application MVC feito com bootstrap para consumir essas APIs e 
        realizar as operações CRUD</p>
</div>
